@import "../../assets/sass/mixines.scss";
@import "../../assets/sass/variables.scss";

.dish-card {
  height: 470px;
  width: 370px;
  border-radius: 10px;
  background-color: #ffd3b4;
  overflow: hidden;
  &__img-wrapper {
    height: 0;
    padding-top: 60%;
    position: relative;
    overflow: hidden;
    img {
      height: 120%;
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
  &__info {
    padding: 25px;
    h2 {
      font-size: 1.3rem;
      margin-bottom: 15px;
      color: $primary;
    }
    p {
      color: $primary;
      height: 100px;
      overflow: auto;
      @include scroll-style;
    }
  }
}
