@import "../../assets/sass/mixines.scss";
@import "../../assets/sass/variables.scss";
@import "../../assets/sass/media.scss";

.dish-card {
  height: 450px;
  width: 340px;
  border-radius: 10px;
  background-color: $crads-bg;
  overflow: hidden;
  @include laptop {
    height: 380px;
    width: 270px;
  }
  @include tablet {
    height: 340px;
    width: 230px;
  }
  @include mobile {
    height: 360px;
    width: 250px;
  }
  &__img-wrapper {
    height: 0;
    padding-top: 60%;
    position: relative;
    overflow: hidden;
    img {
      height: 120%;
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
  &__info {
    padding: 25px;
    h2 {
      font-size: 1.3rem;
      margin-bottom: 15px;
      color: $primary;
    }
    p {
      color: $primary;
      height: 100px;
      overflow: auto;
      @include scroll-style;
    }
  }
}
