@import "../../assets/sass/variables.scss";
@import "../../assets/sass/media.scss";

.header {
  padding: 0 80px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #98ddca;
  @include mobile {
    padding: 0 30px;
  }
  ul {
    display: flex;
    li:not(:last-child) {
      margin-right: 15px;
    }
    a {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
  }
  .disabled {
    display: none;
  }
}

.header-modal-overlay {
  height: 100vh;
  width: 100%;
  background-color: $header-bg-color;
  position: fixed;
  top: 0;
}

.header-modal {
  &__wrapper {
    padding: 0 80px;
    height: 55px;
    display: flex;
    align-items: center;
    @include mobile {
      padding: 0 30px;
    }
  }
  &__mobile-button {
    display: block;
    margin-left: auto;
  }
  ul {
    height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li:first-child {
      margin-bottom: 20px;
    }
    a {
      color: $primary;
    }
  }
}

.mobile-button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  i {
    font-size: 1.5rem;
  }
}
